/* --- Estilos Header -------------------------- */
.envoltura-header {
  height: 10vh;
  background-color: #11327a; }

/* ---- reseteo ----------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* --- estilos General ---------------------------------- */
body {
  font-family: "Montserrat", sans-serif !important;
  min-height: 100vh !important; }

.btn-open-sidebar {
  display: none; }

a:hover, h1:hover, h2:hover, h3:hover {
  color: #f57d38; }

/* --- Estilos del Hero ----------------------------------  */
.hero {
  padding: 0 1rem; }
  .hero__contenedor {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .hero__left, .hero__right {
    width: 50%; }
  .hero__titulo {
    font-size: 60px;
    color: #11327a; }
  .hero__subtitulo {
    font-size: 45px;
    color: #11327a; }
  .hero__parrafo {
    font-size: 18px;
    color: #11327a;
    line-height: 1.5;
    margin-bottom: 34px; }
  .hero__right {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
  .hero__titulo--index {
    padding-left: 11rem;
    margin: 3rem;
    color: #11327a;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -6; }

.iconografia__azul {
  display: flex;
  flex: row;
  gap: 40px; }

.icono__azultitulo {
  color: #11327a;
  font-size: 20px;
  gap: 2px; }

.icono__azul {
  color: #11327a;
  font-size: 25px; }

/* ---Estilos del Producto------------------------------- */
.producto {
  padding: 100px 1rem;
  min-height: 50vh;
  background-color: white;
  color: #eceef1;
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 20px; }
  .producto__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem; }
  .producto__item {
    border: 1px solid #f57d38;
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 4px; }
  .producto__item i {
    font-size: 30px;
    color: #e43838;
    margin: 1rem; }
  .producto__item p {
    text-align: center; }
  .producto__titulo {
    margin-bottom: 2rem;
    text-align: center;
    color: #11327a;
    font-size: 73px; }
  .producto__subtitulo {
    margin-bottom: 2rem;
    text-align: center;
    color: #11327a;
    font-size: 45px; }

.card-img-top {
  border-radius: 22px; }

.card-img-overlay {
  margin: 6rem;
  padding-left: 2rem; }

.card-body {
  width: auto;
  max-height: auto;
  border-radius: 22px;
  padding: 1rem;
  margin-top: 1rem; }

.contenedor-receta {
  max-width: 800px;
  flex-direction: row;
  flex-wrap: nowrap; }

.card-title {
  color: #11327a; }

.card-text {
  font-size: 18px;
  color: #11327a; }

.tope {
  width: 1900px;
  margin: 0 auto; }

.produccion {
  background-color: #dbdfe0;
  background-image: linear-gradient(to right, #e2cf9c, #f2edd9, #f2edd9, #e2cf9c); }

/*---- Estilo Formulario ------------------- */
.formulario {
  height: 60vh;
  max-width: 1200px;
  display: flex;
  background-color: #f57d38;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 12px;
  margin-top: 1rem; }

.formulario__formulario {
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f57d38;
  color: white;
  padding: 3rem;
  line-height: 1.8; }

.titulo__formulario {
  text-align: center;
  margin: 1rem; }

/* estilos Index -------------------------------*/
.card-text p {
  font-size: 2rem; }

.card-body {
  border-radius: 20px;
  justify-content: center;
  align-items: center; }

.contenedor__index {
  display: flex;
  padding: 3rem;
  margin-bottom: 4rem; }

/*--- Estilo de Recetas -------------------------------------- */
.receta {
  padding: 1rem;
  display: flex;
  position: relative; }
  .receta__contenedor {
    max-width: 1300px;
    min-height: 100vh;
    flex-wrap: nowrap;
    justify-content: left;
    padding-left: 1rem;
    background-color: #11327a;
    margin: 0 auto; }
  .receta__contenedor img {
    width: 45%;
    padding: 3rem; }
  .receta__contenedor p {
    line-height: 1.2;
    padding: 2rem;
    font-size: 16px; }
  .receta__contenedor h1 {
    padding: 3rem; }

.recetario {
  background-color: #dbdfe0;
  background-image: linear-gradient(to right, #e2cf9c, #f2edd9, #f2edd9, #e2cf9c);
  border: 40px; }

.card-group {
  margin: 2rem 4rem 2rem 4rem;
  border-radius: 25px;
  width: 100%; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%; }

.grid__container__img {
  width: 100%;
  border-radius: 23px; }

.overlay {
  background-color: #11327a;
  opacity: 0;
  height: 100%;
  z-index: 1;
  transform: translate(0%, -100%);
  transition: 0.8s ease;
  position: relative;
  border-radius: 23px; }

.grid__container:hover .overlay {
  opacity: 1; }

.overlay__title {
  font-size: 1,2 rem;
  color: #f2edd9;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.overlay__description {
  color: #f2edd9;
  font-size: 0,8rem;
  text-align: center;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container {
  display: flex;
  width: 100%; }

.hero__right23 {
  width: 20%; }

.fondosection {
  background: linear-gradient(to right, #e2cf9c, #f2edd9, #f2edd9, #e2cf9c);
  height: 1900px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  position: relative; }

.fondosection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/imagenes/fondo-section-3.jpg);
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  padding: 3rem;
  margin: 2rem; }

.titulocentro {
  color: #f57d38;
  height: 300px; }

.fondosection3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/imagenes/fondo-section-4.jpg);
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  padding: 3rem;
  margin: 2rem; }

.fondosection4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  padding: 3rem;
  margin: 2rem;
  width: 100%; }

.reggiano {
  width: 100%; }

.reggiano_titulo {
  color: #11327a;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: -8px; }

.hero__contenedor23 {
  max-width: 1400px;
  margin: 16px;
  min-height: 90vh;
  justify-content: end;
  align-items: center;
  display: flex; }

.encabezado {
  display: flex; }

.cabecera1 {
  height: 100vh;
  width: 100%; }

.flyer-1 {
  display: flex;
  position: relative;
  padding: 23px; }

.izquierda {
  width: 50%;
  height: 70vh; }

.derecha {
  width: 50%;
  height: 70vh; }

.izquierda img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.derecha img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

select {
  color: #f57d38; }

.foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 12px;
  background-color: #040c1f;
  color: #f2edd9; }

.foot-social {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 2rem;
  justify-content: center; }

.listaA {
  align-self: flex-start; }

.listaA .listaB .listaC {
  display: flex;
  align-items: flex-start;
  text-align: center;
  height: 30vh;
  width: 60vh; }

.listaF {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  gap: 15px; }

.logobox img {
  width: 100%;
  height: 100%; }

.logobox {
  width: 300;
  height: 150px;
  object-fit: cover;
  display: flex; }

.title-lista {
  font-size: 23px;
  margin-bottom: 14px;
  padding-top: 1rem; }

.parrafo-lista {
  font-size: 14px;
  margin-bottom: 5px;
  display: flex; }

.icono-blanco {
  color: #f2edd9;
  font-size: 12px; }

a {
  text-decoration: none; }

.linkeado {
  color: #f2edd9; }

.icono-foot {
  color: #f2edd9;
  font-size: 24px; }

/*-----Media Queries Tablet ------------------------------ */
@media screen and (max-width: 1024px) {
  .foot {
    display: flex;
    flex-direction: column; }
  /* -----Media Queries Mobile -------------------------- */ }

@media screen and (max-width: 1024px) and (max-width: 600px) {
  .foot {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .s1search {
    display: flex;
    flex-direction: column; }
  .s2-contenedor {
    flex-direction: column;
    gap: 12px; }
  .s2-ladoA .s2-ladoB {
    object-fit: cover;
    display: flex;
    height: 100% !important;
    width: 100% !important; }
  .s2-titular {
    font-size: 32px !important; }
  .s3-contenedor {
    flex-direction: column;
    gap: 12px; }
  .s3-logobox {
    object-fit: cover;
    display: flex;
    height: 100% !important;
    width: 100% !important; }
  .s4-contenedor {
    flex-direction: column;
    overflow: hidden;
    background-color: #f2edd9;
    padding: 12px; }
  .s5-contenedor {
    padding: 15px;
    gap: 0; }
  .s5-logobox {
    display: none !important; }
  .s7-contenedor {
    flex-direction: column; }
  .envolvente-ab {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 300px; }
  .s8-titular {
    padding-top: 50px !important;
    font-size: 30px !important; }
  .s8-contenedor {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap; }
  .s8-contenedor_secundario {
    background: linear-gradient(rgba(92, 130, 171, 0.6), rgba(39, 21, 113, 0.7)), url(/imagenes/fondo-form-baja-res.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 17px;
    border-color: #ffffff;
    border-width: 8px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #11327a;
    padding: 20px;
    position: relative; }
  .s8-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap; }
  .s9-logobox {
    display: none !important; }
  .s9-iconosblue {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    color: #11327a;
    flex-direction: column;
    align-items: center; }
  .s9-iconotitulo {
    color: #11327a;
    font-size: 14px;
    gap: 16px; }
  .s9-icono {
    font-size: 34px; }
  .s14-row {
    flex-direction: column !important;
    display: flex;
    justify-content: center; }
  .s14-card {
    border: 0;
    width: 100% !important;
    justify-content: center;
    align-content: center;
    margin: 5px 2px !important; } }

.s1-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
  position: relative; }

.envolvente-ab {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }

.s1-titular {
  color: #f2edd9;
  font-size: 45px;
  font-weight: 600;
  text-shadow: #1a0404 1px 0 10px; }

.S1logobox img {
  width: 100%;
  height: 100%; }

.S1-logobox {
  height: 80vh;
  object-fit: cover;
  display: flex; }

.s1-logobox2 {
  height: 150px;
  width: 500px;
  object-fit: cover;
  display: flex;
  padding-left: 5px; }

.s2-contenedor {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 1rem;
  margin: 12px;
  background-color: #f2edd9;
  border-radius: 10px;
  gap: 14px; }

.s2-ladoA .s2-ladoB {
  width: 50%; }

.s2-ladoA {
  display: flex;
  background-color: #11327a;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.s2-ladoB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5px; }

.s2-logobox {
  display: flex;
  object-fit: cover;
  width: 100%; }

.s2-logobox img {
  width: 100%;
  height: 100%; }

.s2-titular {
  color: #11327a;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-top: 12px; }

.s2-parrafo {
  font-size: 17px;
  margin-bottom: 5px;
  display: flex; }

.sp-titular {
  color: #11327a;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  padding-left: 26%; }

.scontenedor-divisor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  padding: 4px; }

.s-divisor {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.s3-contenedor {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 1rem;
  margin: 12px;
  border-radius: 10px;
  gap: 24px;
  background-color: #f2edd9; }

.s3-bloque1 .s2-bloque2 {
  width: 50%;
  display: flex; }

.s3-logobox {
  object-fit: cover;
  display: flex;
  height: 250px;
  width: 450px;
  border-radius: 26px; }

.s3-logobox img {
  width: 100%;
  height: 100%; }

.s3-titular {
  color: #11327a;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-top: 12px;
  justify-content: center;
  align-items: center; }

.s3-parrafo {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  color: #143d93;
  justify-content: start;
  align-items: flex-start; }

.s4-contenedor {
  margin: 12px;
  background-color: #f2edd9;
  border-radius: 10px;
  height: 80vh; }

.s4-titularexterno {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.s4-titular {
  font-size: 56px;
  margin-bottom: 14px;
  padding-top: 1rem;
  color: #11327a; }

.s4-titularB {
  font-size: 20px;
  margin-bottom: 14px;
  padding-top: 1rem;
  color: #11327a;
  margin-left: 18px; }

.home-testimonial-bottom {
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px; }

.home-testimonial h3 {
  font-size: 14px;
  font-weight: 500; }

.testimonial-inner {
  position: relative;
  top: -174px; }

.testimonial-pos {
  position: relative;
  top: 24px; }

.testimonial-inner .tour-desc {
  border-radius: 5px; }

.color-grey-3 {
  font-size: 14px; }

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none; }

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2; }

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2; }

.s5-contenedor {
  margin-bottom: 19px;
  margin-top: 19px;
  border-radius: 10px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  gap: 3rem; }

.s5-titular {
  color: #11327a;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-top: 12px; }

.s5-bloque1 .s2-bloque2 {
  width: 50%;
  margin: 12px; }

.s5-logobox {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px; }

.s5-logobox img {
  width: 100%;
  height: 100%; }

.S7-contenedor {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  background-color: #f2edd9;
  color: #11327a; }

.S7listaA {
  align-self: flex-start; }

.S7listaA .S7listaB .S7listaC {
  display: flex;
  align-items: flex-start;
  text-align: center;
  height: 30vh;
  width: 60vh; }

.S7title-lista {
  font-size: 23px;
  margin-bottom: 14px;
  padding-top: 1rem; }

.S7parrafo-lista {
  font-size: 14px;
  margin-bottom: 5px; }

.S7logobox img {
  width: 100%;
  height: 100%; }

.S7logobox {
  width: 300;
  height: 150px;
  object-fit: cover;
  display: flex; }

.S7icono {
  color: #11327a;
  font-size: 12px; }

.s8-contenedor {
  display: flex;
  justify-content: center;
  align-content: center; }

.s8-contenedor_secundario {
  background: linear-gradient(rgba(92, 130, 171, 0.6), rgba(39, 21, 113, 0.7)), url(./imagenes/fondo-form-baja-res.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: 17px;
  border-color: #ffffff;
  border-width: 8px;
  color: #ffffff;
  text-shadow: 1px 1px 3px #11327a;
  padding: 20px; }

.s8-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 3; }

.S8logobox img {
  width: 100%;
  height: 100%; }

.S8logobox {
  display: flex;
  object-fit: cover;
  justify-content: center; }

.s8-titular {
  color: #f2edd9;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 1px;
  margin-bottom: 60px; }

.s8-subtitulos {
  color: #f2edd9; }

.s9-contenedor {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 20px;
  margin: 12px;
  border-radius: 10px;
  gap: 14px;
  background-color: #f2edd9; }

.s9-contenedor2 {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 30px;
  margin: 12px;
  border-radius: 10px;
  gap: 14px;
  background-color: #f2edd9; }

.s9-ladoA .s9-ladoB {
  width: 50%; }

.s9-ladoA {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center; }

.s9-ladoB {
  display: flex;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 5px; }

.s9-logobox {
  display: flex;
  object-fit: cover;
  width: 100%; }

.s9-logobox2 {
  display: flex;
  object-fit: cover;
  width: 70%; }

.s9-logobox img {
  width: 100%;
  height: 100%; }

.s9-titular {
  color: #11327a;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center; }

.s9-subtitulo {
  color: #11327a;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center; }

.s9-parrafo {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  color: #143d93;
  justify-content: start;
  align-items: flex-start; }

.s9-iconosblue {
  display: flex;
  gap: 45px;
  margin-top: 12px;
  color: #11327a; }

.s9-iconotitulo {
  color: #11327a;
  font-size: 16px;
  gap: 16px; }

.s9-icono {
  font-size: 56px; }

.s10-contenedor {
  display: flex;
  object-fit: cover;
  position: relative;
  padding: 40px 1rem; }

.s10-envolvente-ab {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.s10-titular {
  display: flex;
  color: #f2edd9;
  flex-direction: row;
  font-size: 33px;
  font-weight: 600;
  text-shadow: #000834 1px 0 10px; }

.s10-logobox {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 300px; }

.s10-logobox img {
  width: 100%;
  height: 100%; }

.s11-contenedor {
  display: flex;
  padding: 2rem 2rem;
  background-color: #f2edd9;
  margin: 12px;
  border-radius: 10px; }

.s12-contenedor {
  display: flex;
  justify-content: center;
  margin: 20px 1rem;
  border-radius: 10px; }

.s12-logobox {
  display: flex;
  object-fit: cover;
  width: 100%;
  border-radius: 10px; }

.s12-logobox img {
  width: 100%;
  height: 100%; }

.s11card-body {
  display: flex;
  justify-content: center; }

.btn-group {
  display: flex; }

.s13-contenedor {
  display: flex;
  justify-content: center;
  padding: 20px 1rem;
  margin: 12px;
  border-radius: 10px;
  gap: 24px;
  background-color: #f2edd9; }

.s13-contenedorB {
  display: flex;
  justify-content: center;
  margin: 12px;
  border-radius: 10px;
  gap: 24px; }

.s13-titular {
  display: flex;
  color: #11327a;
  flex-direction: row;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.3; }

.s14-contenedor {
  display: flex;
  justify-content: center;
  padding: 20px 1rem;
  margin: 12px;
  border-radius: 10px;
  gap: 24px; }

.s14-card {
  margin: 20px 12px;
  border: 0;
  width: 30%; }

.s14-row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }
