/* ---- reseteo ----------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//   mixin de flex ------------------------------------

@mixin SuperFlex ($eje-principal, $eje-secundario) {
    display: flex;
    justify-content:$eje-principal ;
    align-items:$eje-secundario ;
}


 /* --- estilos General ---------------------------------- */


body {
    font-family: $tipografia-general !important;
    
    min-height: 100vh !important;

}


.btn-open-sidebar{
    display: none;
}

a:hover, h1:hover, h2:hover, h3:hover  {
    color: rgb(245, 125, 56);
}




/* --- Estilos del Hero ----------------------------------  */

.hero {
    padding: 0 1rem;
    &__contenedor {
        max-width: 1400px;
        margin: 0 auto;
        min-height: 100vh;
        @include SuperFlex(space-between, center)
    }
    &__left, &__right {
        width: 50%;
    }
    &__titulo {
        font-size: 60px;
        color: $Colorprincipal;
    }
    &__subtitulo{
        font-size: 45px;
        color: $Colorprincipal;
    }
    &__parrafo {
        font-size: 18px;
        color: $Colorprincipal;
        line-height: 1.5;
        margin-bottom: 34px;
    }
    &__right {
        @include SuperFlex(space-between, stretch)
    }
    &__titulo--index{
        padding-left: 11rem;
        margin: 3rem;
        color: $Colorprincipal;
        font-size: 100px;
        font-weight: 700;
        letter-spacing: -6;
    }
}




/* ---Estilos del Producto------------------------------- */
.producto {
    padding: 100px 1rem;
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
    color: rgb(236, 238, 241);
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 20px;
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 1rem;
    }
    &__item{
        border: 1px solid rgb(245, 125, 56);
        border-radius: 7px;
        flex-direction: column;
        @include SuperFlex(center, center);
        padding: 1rem;
        margin: 4px;
         }

    &__item i {
        font-size: 30px;
        color: rgb(228, 56, 56);
        margin : 1rem;
    }
    &__item p {
        text-align: center;
    }
    &__titulo{
        margin-bottom: 2rem;
        text-align: center;
        color: $Colorprincipal;
        font-size: 73px;    
    }
    &__subtitulo{
        margin-bottom: 2rem;
        text-align: center;
        color: $Colorprincipal;
        font-size: 45px;    
    }
}







.card-img-top {
    border-radius: 22px;
}

.card-img-overlay {
    margin: 6rem;
    padding-left: 2rem;
    
}
.card-body{
    width: auto;
    max-height: auto;
    border-radius: 22px;
    padding: 1rem;
    margin-top: 1rem;
}


.card-text p{
 font-size: 2rem;
}

.card-body{
   border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.contenedor__index{
   display: flex;
   padding: 3rem;
   margin-bottom: 4rem;

}
.card-group{
    margin: 2rem 4rem 2rem 4rem;
    border-radius: 25px;
    width: 100%; 
}

.container{
    display: flex;
    width: 100%;
}     
select{
    color: rgb(245, 125, 56);
}




























