/* ---- reseteo ----------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//   mixin de flex ------------------------------------

@mixin SuperFlex ($eje-principal, $eje-secundario) {
    display: flex;
    justify-content:$eje-principal ;
    align-items:$eje-secundario ;
}

 /* --- estilos General ---------------------------------- */


body {
    font-family: $tipografia-general !important;
    background-color: rgb(255, 255, 255);
}

li {
   list-style: none;  
}
h1, h2,  h3, h4, h5, h6 {
    letter-spacing: -3px;
    color: $tipografia-general;
}

h1 {
    font-size: 70px;
    color: rgb(245, 125, 56);
    font-weight: 600;
}
h2 {
    font-size: 30px ;
    color: rgb(245, 125, 56);  
}
p {
    font-size: 18px ;
    color: rgb(245, 125, 56);
}

.btn-open-sidebar{
    display: none;
}

a:hover, h1:hover, h2:hover  {
    color: rgb(245, 125, 56);
}




/* --- Estilos del Hero ----------------------------------  */

.hero {
    padding: 0 1rem;
    &__contenedor {
        max-width: 1400px;
        margin: 0 auto;
        min-height: 100vh;
        @include SuperFlex(space-between, center)
    }
    &__left, &__right {
        width: 50%;
    }
    &__titulo {
        font-size: 60px;
        color: $Colorprincipal;
    }
    &__subtitulo{
        font-size: 45px;
        color: $Colorprincipal;
    }
    &__parrafo {
        font-size: 18px;
        color: $Colorprincipal;
        line-height: 1.5;
        margin-bottom: 34px;
    }
    &__right {
        @include SuperFlex(space-between, stretch)
    }
    &__titulo--index{
        padding-left: 11rem;
        margin: 3rem;
        color: $Colorprincipal;
        font-size: 100px;
        font-weight: 700;
        letter-spacing: -6;
    }
}


.iconografia__azul{
    display: flex;
    flex: row;
    gap: 40px;
    
}

.icono__azultitulo {
    color:$Colorprincipal;
    font-size: 20px;
    gap: 2px;
}
.icono__azul{
    color:$Colorprincipal;
    font-size: 25px;
}



/* ---Estilos del Producto------------------------------- */
.producto {
    padding: 100px 1rem;
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
    color: rgb(236, 238, 241);
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 20px;
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 1rem;
    }
    &__item{
        border: 1px solid rgb(245, 125, 56);
        border-radius: 7px;
        flex-direction: column;
        @include SuperFlex(center, center);
        padding: 1rem;
        margin: 4px;
         }

    &__item i {
        font-size: 30px;
        color: rgb(228, 56, 56);
        margin : 1rem;
    }
    &__item p {
        text-align: center;
    }
    &__titulo{
        margin-bottom: 2rem;
        text-align: center;
        color: $Colorprincipal;
        font-size: 73px;    
    }
    &__subtitulo{
        margin-bottom: 2rem;
        text-align: center;
        color: $Colorprincipal;
        font-size: 45px;    
    }
}







.card-img-top {
    border-radius: 22px;
}

.card-img-overlay {
    margin: 6rem;
    padding-left: 2rem;
    
}
.card-body{
    width: auto;
    max-height: auto;
    border-radius: 22px;
    padding: 1rem;
    margin-top: 1rem;
}
.contenedor-receta{
    max-width: 800px;
    flex-direction: row;
    flex-wrap: nowrap;
}
    

.card-title{ 
    color: $Colorprincipal;
}
.card-text{
  font-size: 18px;
    color: $Colorprincipal;
}

.tope{
    width: 1900px;
    margin: 0 auto;
}
.produccion{
    background-color: #dbdfe0;
    background-image: linear-gradient(to right, #e2cf9c,
     #f2edd9, #f2edd9, #e2cf9c);
}

/*---- Estilo Formulario ------------------- */
.formulario {
    height: 60vh;
    max-width: 1200px;
    display: flex;
    background-color: rgb(245, 125, 56);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 12px;
    margin-top: 1rem;

}
    
.formulario__formulario {
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(245, 125, 56);
    color: white;
    padding: 3rem;
    line-height: 1.8;
}

.titulo__formulario {
     text-align: center;
     margin: 1rem;
    
}





/* estilos Index -------------------------------*/
card-text p{
 font-size: 2rem;
}

.card-body{
   border-radius: 20px;
    justify-content: center;
    align-items: center;
}



/*--- Estilo de Recetas -------------------------------------- */
 
.receta {
    padding: 1rem;
    display: flex;
    position: relative;
    &__contenedor {
        max-width: 1300px;
        min-height: 100vh;
        flex-wrap: nowrap;
        justify-content: left;
        padding-left: 1rem;
        background-color: $Colorprincipal;
        margin: 0 auto ;
    }
    &__contenedor img {
        width: 45%;
        padding: 3rem;
    }
    &__contenedor p {
        line-height: 1.2;
        padding: 2rem;
        font-size: 16px;
    }
    &__contenedor h1 {
        padding: 3rem;
    
    }


}








.recetario{
    background-color: #dbdfe0;
    background-image: linear-gradient(to right, #e2cf9c,
     #f2edd9, #f2edd9, #e2cf9c);
    
}
.card-group{
    margin: 2rem 4rem 2rem 4rem;
    border-radius: 25px;
    
}


    

/* ---- Animaciones -///////////////////--------------*/

a::after,  h1::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: rgb(245, 125, 56);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
}

a:hover::after, h1:hover::after{
            transform: scaleX(1);
            transform-origin: left;
} 

/* Animacion texto bienvenida */



.title-container{
    height: 80vh;
}
.text-container {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;   
    transform: translate(-50%, 50%);
}


.text-container p {
    text-transform: uppercase;
}

.text1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: $Colorprincipal;
    margin-bottom: 1rem;
    animation: text 2s 1;
}
.text2 {
    font-size: 2rem;
    font-weight: 500;
    color: $Colorprincipal;
    

}
@keyframes text{
    0%{
        color:rgb(255, 255, 255);
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 3rem;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 0.5rem;
        margin-bottom: -40px;
    }

}

       
label{
    color: rgb(245, 125, 56);
}
select{
    color: rgb(245, 125, 56);
}































