
footer{
    position: relative;
    padding-left: 8rem;
    padding-right: 5rem;
    max-width: 100%;
    background:$ColorDegradadoBlue;
      
    .footer__listas{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 18px;
    }
}
.footer__contenedor{
    max-width: auto;
    height: 150px;
    display: flex;
    position:relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

 
.listas {
    text-decoration: none;
    color: $Colorsecundario;
    font-size: 18px;
}
.menuhorizontal {
    display: flex;
    gap: 1.5rem;
}


