/*-----Media Queries Tablet ------------------------------ */

@media screen and (max-width: 1024px) {
    .foot{
        display: flex;
        flex-direction: column;
    

}



/* -----Media Queries Mobile -------------------------- */
@media screen and (max-width: 600px){
     .foot{
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         
     } 
    .s1search{
        display: flex;
        flex-direction: column;

    }
    .s2-contenedor{
        flex-direction: column;
        gap: 12px;
    }
    .s2-ladoA .s2-ladoB{
        object-fit: cover;
        display: flex;
        height: 100% !important;
        width: 100% !important;
    }
    .s2-titular{
        font-size: 32px !important;
    }




    .s3-contenedor{
        flex-direction: column;
        gap: 12px;
    }
    .s3-logobox{
        object-fit: cover;
        display: flex;
        height: 100% !important;
        width: 100% !important;
    }
    .s4-contenedor{
        flex-direction: column;
        overflow: hidden;
        background-color: #f2edd9;
        padding: 12px;
    }
    .s5-contenedor{
       padding: 15px;
       gap: 0;
   }
    .s5-logobox{
        display: none !important;
    }



    .s7-contenedor{
        flex-direction: column;
    }
    
    .envolvente-ab{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 300px;
        
    } 
 
    .s8-titular{
        padding-top: 50px !important;
        font-size: 30px !important;
    }
    .s8-contenedor{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }   
    
    .s8-contenedor_secundario{
        background: linear-gradient(rgba(92, 130, 171,0.6), rgba(39, 21, 113, 0.7)), url(/imagenes/fondo-form-baja-res.jpg);
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-style:solid;
        border-radius: 17px;
        border-color: #ffffff;
        border-width: 8px;
        color: #ffffff;
        text-shadow: 1px 1px 3px #11327a;
        padding: 20px;
        position: relative;
        
    }
    .s8-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .s9-logobox{
        display: none !important;
    }
    .s9-iconosblue{
        display: flex;
        gap: 12px;
        margin-top: 12px;  
        color: #11327a;
        flex-direction: column;
        align-items: center;
    }
    .s9-iconotitulo {
        color:$Colorprincipal;
        font-size: 14px;
        gap: 16px;
    }
    .s9-icono{
        font-size: 34px;
    }
    .s14-row{
        flex-direction: column !important;
        display: flex;
        justify-content: center;
        
    }
    .s14-card{
        border: 0;
        width: 100% !important;
        justify-content: center;
        align-content: center;
        margin: 5px 2px !important;
    }







}
 
}