/*-----Media Queries Tablet ------------------------------ */

@media screen and (max-width: 1024px) {
    .foot{
        display: flex;
        flex-direction: column;
        

    } 
    .s7-contenedor{
        flex-direction: row;
    }


}










/* -----Media Queries Mobile -------------------------- */
@media screen and (max-width: 600px){
     .foot{
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         
     } 
    .s1search{
        display: flex;
        flex-direction: column;

    }
    .s7-contenedor{
        flex-direction: column;
    }
    
    .s1-title{
        font-weight: 700;
        color: #f2edd9;
        font-size: auto;
        padding-top: 0rem;
        text-align: center;
        text-shadow: 2px 2px 4px #722a06;
        flex-direction: column;

    }
   
}
@media screen and (max-width: 300px){
  
}