/*-----Media Queries Tablet ------------------------------ */

@media screen and (max-width: 1024px) {
    footer{
        display: flex;
        flex-direction: column;
        

    } 
}










/* -----Media Queries Mobile -------------------------- */
@media screen and (max-width: 600px){
     footer{
         display: flex;
         flex-direction: column;
         

     } 

}
