// ----section 1------
.s1-contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    
    
        
}
.envolvente-ab{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}

.s1-titular{
    color: #f2edd9;
    font-size: 45px;
    font-weight: 600;
    text-shadow: rgb(26, 4, 4) 1px 0 10px;

}

.S1logobox img{
    width: 100%;
    height: 100%;
    
   
}
.S1-logobox{
    
    height:80vh;
    
    object-fit: cover;
    display: flex;
   
    

}
.s1-logobox2{
    height: 150px;
    width: 500px;
    object-fit: cover;
    display: flex;
    padding-left: 5px;
}


// ---section 2 -------

.s2-contenedor{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 1rem;
    margin: 12px;
    background-color: #f2edd9;
    border-radius: 10px;
    gap: 14px;
    
   
}

.s2-ladoA .s2-ladoB {
         width: 50%;
}

.s2-ladoA{
  background-color: #11327a;
  width: 750px;
  height: 400px;
  object-fit: cover;
}

.s2-ladoB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
    
}   

.s2-logobox{
      display: flex; 
      object-fit: cover;
      width: 100%;
      height: 100%;  
      
}

.s2-logobox img{
    width: 100%;
    height: 100%;  
}
.s2-titular{
    color: #11327a;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 12px;
}
.s2-parrafo{
    font-size: 17px;
    margin-bottom: 5px;
    display: flex;
   
}

.sp-titular{
    color: #11327a;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    padding-left:  26%;

}

.scontenedor-divisor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 4px;
}

.s-divisor{
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
   
    
}
// ---section 3--------
.s3-contenedor{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 1rem;
    margin: 12px;
    border-radius: 10px;
    gap: 24px;
   background-color: #f2edd9;
    
    
}



.s3-bloque1 .s2-bloque2{
    width: 50%;
    display: flex;
    
    
}
.s3-logobox{
      object-fit: cover;
      display: flex;
      height: 250px;
      width: 450px;
      border-radius: 26px;
      
}

.s3-logobox img{
    width: 100%;
    height: 100%;
    
}
.s3-titular{
    color: #11327a;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 12px;
    
    justify-content: center;
    align-items: center;
}
.s3-parrafo{
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    color: #143d93;
    justify-content: start;
    align-items: flex-start;
   
}





// ---section 4--------
.s4-contenedor{
    display: flex;
    flex-direction: row;
    justify-content:center;
 
}


.s4-bloque1 .s2-bloque2{
   
    margin: 12px;
    
}
.s4-logobox{
      max-width: 100%;
      height: 400px;
      object-fit: cover;
      display: flex;
      margin-top: 12px;
      margin-bottom: 12px;
      
}

.s4-logobox img{
    width: 100%;
    height: 100%;
    
}

// ---section 5--------
.s5-contenedor{
    display: flex;
    flex-direction: row;
    justify-content:center;
 
}


.s5-bloque1 .s2-bloque2{
   
    margin: 12px;
    
}
.s5-logobox{
      max-width: 100%;
      height: 400px;
      object-fit: cover;
      display: flex;
      margin-top: 12px;
      margin-bottom: 12px;
      
}

.s5-logobox img{
    width: 100%;
    height: 100%;
    
}

// ---section 6--------
.s6-contenedor{
    display: flex;
    flex-direction: row;
    justify-content:center;
 
}


.s6-bloque1 .s2-bloque2{
   
    margin: 12px;
    
}
.s6-logobox{
      max-width: 100%;
      height: 400px;
      object-fit: cover;
      display: flex;
      margin-top: 12px;
      margin-bottom: 12px;
      
}

.s6-logobox img{
    width: 100%;
    height: 100%;
    
}
// ---section 7--------
.S7-contenedor{
    display: flex;
    justify-content: space-evenly;
  
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color:  #f2edd9;
    color: #11327a;
}
.S7listaA{ 
    align-self: flex-start;
}

.S7listaA .S7listaB .S7listaC{
    display: flex;
    align-items: flex-start;
    text-align: center;
    height: 30vh;
    width: 60vh;
}
.S7title-lista{
    font-size: 23px;
    margin-bottom: 14px;
    padding-top: 1rem;
}
.S7parrafo-lista{
     font-size: 14px;
     margin-bottom: 5px;
}
.S7logobox img{
    width: 100%;
    height: 100%;
    
   
}
.S7logobox{
    width: 300;
    height: 150px;
    object-fit: cover;
    display: flex;

}
.S7icono{
   
    color:#11327a;
    font-size: 12px;
}

// ---section 8--------

// ---section 9--------