$Colorprincipal: #11327a;
$Colorsecundario: #f2edd9;
$tipografia-general: 'Montserrat', sans-serif;
$ColorDegradado:linear-gradient(to right,
#e2cf9c, #f2edd9, #f2edd9, #e2cf9c);

$ColorDegradadoBlue:linear-gradient(to right,
#11327a, #11327a, #376fce, #11327a);

$ColorDegradadoTerciario:linear-gradient(to right,
 #f2edd9, #f2edd9, #e2cf9c, #e2cf9c, );



$social-media: (
    twitter:#55acee,
    facebook: #3a5795,
    whatsapp: #00bb2d,
);


